<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question Thingy</title>

    <!-- jQuery and Bootstrap -->
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- my scripts -->
    <script type=text/javascript src="{{url_for('static', filename='quiz.js') }}"></script>
    <script>var correct = "{{ correct }}";</script>
</head>
<body>

<!-- This is the actual quiz. -->
<div class="container" id="quiz-container">
<form id="quiz">
    <h2>{{ question }}</h2>

    <!-- Display the options -->
    {% for option in options %}
    <div class="custom-control custom-radio">
        <input class="custom-control-input" type="radio" name="answer" value="{{ option }}" id="{{ option }}-option">
        {{ option }}
        <label class="custom-control-label" for="{{ option }}-option"></label>
    </div>
    {% endfor %}

    <button class="btn btn-primary" id="submit">Submit</button>
</form>
</div>

<!-- This will replace the quiz if the user gets the correct answer -->
<div class="container" id="correct-answer" hidden>
    <!--<img src="https://media2.giphy.com/media/26BGP98lm74FJgfNS/giphy.gif"
         style="width: 100px; height: 100px;">-->
    <p class="text-success bg-success">That's Correct!</p>
</div>

<!-- This will replace the quiz if the user gets the wrong answer -->
<div class="container" id="wrong-answer" hidden>
    <p class="text-danger bg-danger">Sorry, incorrect.</p>
</div>

<!-- Reload button -->
<div class="container" id="reload-button" hidden><button class="btn">Try again</button></div><br>

<div class="container"><a href="/"><small>Create another quiz</small></a></div>
</body>
</html>
